.albumSnippet {
  width: 10vw;
  height: 10vh;
}
div.main 
{
    background-color: #9CC7A9;
    width: 100vw;
    height: 100vh;
    animation-name: up;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}


a {
  background-color: white;
  color: black;
  padding: 1em 1.5em;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  width: fit-content;

  border-color: #9CC7A9;
  border-width: 1px;
  border-radius: 5px;
  border-style:solid
}

a:hover {
  background-color: #9CC7A9;
  color: white;
  border-color: white;
  
}


@keyframes up {
    0% {background-color: #9CC7A9;}
    50% {background-color: rgb(11, 88, 56);}
    100% {background-color: #9CC7A9;}
  }
  @keyframes down {
    from {background-color: rgb(11, 88, 56);}
    to {background-color: #9CC7A9; animation-name: up;}
  }