img.logoLarge {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 50%;

}

h1.title {
    font-family: "Open Sans";
    text-align: center;
    font-size: 55px;
}

p.subtitle {
  font-family: "Open Sans";
  text-align: center;
  font-size: 30px;
  margin-left: 10%;
  margin-right: 10%;
  font-weight: lighter;
}

div.center {
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;

    border-color: purple;
    border-width: 10px;
}
a {
    background-color: white;
    color: black;
    padding: 1em 1.5em;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    width: fit-content;

    border-color: black;
    border-width: 100px;
    border-radius: 5px;
}
  
  a:hover {
    background-color: #9CC7A9;
    color: white;
    
  }
  
  /* a:active {
    background-color: black;
  }
  
  a:visited {
    background-color: #ccc;
  } */