@font-face {
    font-family: OpenSans;
    src: url(https://fonts.googleapis.com/css?family=Open+Sans);
  }
  
.Mood_Result {
    font-family: 'Open Sans';
    width: 100vw;
    background-image: url('../../images/PersonalityBackground.svg');
    background-size: cover;
    margin-top: 0 auto;
    position: absolute;

}
.Mood_Result #moodsContainer {
    font-family: 'Open Sans';
    
}    

.banner
{
    text-align: center;
    height:10vh;
    width: 100vw;
    background-color:#9CC7A9;


}
.bannerText
{
    height:100%;
    width:50%;
}
.bannerLogo
{
    position: absolute;
    top: 0;
    height: 8vh;
    margin-top: 1vh;
    margin-left: 2vw;
    left: 0;
}

#LinkContainer
{
    margin-top:10%;
    float: right;
}
div.rightSide
{

    padding-top:2%;
    width:50%;
    padding-right:10%;
    height:fit-content;
    float: right;
    display:inline-block;
    
}

div.leftSide
{

    padding-top:2%;
    width:50%;
    height:fit-content;
    display:inline-block;

}
.personalityHeader
{
    text-align: center;
}

.highlight{
    background-color: #DADBB3;
    opacity: 88%;
}
#avatarContainer 
{
    padding-left:10%;
    padding-right:10%;

}

.parentBox 
{
    display: flex;
}

.avatarName
{
    padding-top:2%;
    text-align:center;
    padding-bottom:2%;
    font-family: 'Open Sans';
    font-size: 40px;

}
.avatarImg
{
    max-width: 100%;
    height: auto;
    
}
.overlay
{
    height:100%;
    width:100%;
}
.overlay:hover
{
    background-color: white;
}

.barcontainer
{
    padding-top:5%;
    width:100%;
    display: block;
}

.barCategory
{
  display:block;
  text-align: center;
  font-family: "Open Sans";
  font-size: 110%;
  font-weight: bold;
}

.description
{
    text-align: center;
    font-weight: lighter;
    font-size: 90%;
    font-family: "Open Sans";
}

.positiveBar
{
  float: right;
  font-size: 80%;
}

.negativeBar
{
  float: left;
  font-size: 80%;
}

.bar
{
    background-color:white;
    width:100%;
    height:fit-content;
    display:block;
    margin-top: 3%;
    border-color: black;
    border:10px;
    border-style: solid;
    border-color: #9CC7A9;
    border-radius: 5px;
    border-width:1px;
    padding:2%;
}

.avatarDescription {
    margin: 5%;
}