.agree
{
    float: right;
    width: 20%;

    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;


    font-family: "Open Sans";
    color: #9CC7A9;
    font-weight: bolder;


}

.centerDiv
{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.disagree
{
    float: left;
    width: 20%;

    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: "Open Sans";
    color: #996767;
    font-weight: bolder;
}
.rangeWrapper
{
    width: 90%;
    margin-left: 5%;
    height:75%;
    
}
.options
{
    float: left;
    height: 75%;
    margin-top: 2.5%;
    width:60%;
}
.questionStore
{
    width: 90vw;
    height: 70vh;
    margin-top:2%;
    overflow:auto;
    margin-left:5%;

    /* border-radius: 5px;
    border-color:#9CC7A9;
    border-width:2px;
    border-style: solid; */

}

.question
{
    height: 10vw;
    width: 60vw;
    margin-left:15%;
    padding:2.5%;

    border-radius: 5px;
    border-color:#9CC7A9;
    border-width:2px;

}
.q
{
    font-family: "Open Sans";
    text-align:center;
    font-size: large;
    margin-bottom: 1%;

}

.optionWrapper
{
    height:100%;
    width:20%;
    
    justify-content: center;
    float:left;

}
.borderStyle
{

    border-style: solid;
    border-width: 3px;
    border-radius: 50%;
}
.one
{

    height:80%;
    margin:10%;

    

    border-color: #996767;
    background-color: rgba(0,0,0,0);;

}

.one:hover
{
    background-color: #996767;
}

.two
{

    height:60%;
    margin: 20%;
    /* width: 80%; */

    /* margin-left:10%;
    margin-top:10%; */
    
    
    border-color: #996767;

}

.two:hover
{
    background-color: #996767;
}

.three
{


    height:40%;
    margin: 30%;
    /* width: 80%; */

    /* margin-left:10%;
    margin-top:20%; */
    
    border-color: #9C9FA9;

}

.three:hover
{
    background-color: #9C9FA9;
}

.four
{


    height:60%;
    margin: 20%;
    /* width: 80%; */

    /* margin-left:10%;
    margin-top:10%; */
    
    border-color: #9CC7A9;

}

.four:hover{
    background-color:#9CC7A9
}

.five
{


    height:80%;
    margin: 10%;
    /* width: 100%; */
    
    border-color: #9CC7A9;
}

.five:hover{
    background-color: #9CC7A9;
}

.almostDone
{
    font-family: "Open Sans";
    margin-top:10%;
    text-align:center;

}
.finalQ
{
    font-family: "Open Sans";
    margin-top:3%;
    text-align:center;
    font-size: xx-large;

}
.genreWrapper
{
    width:100%;
    display:flex;
    justify-content: center;
    margin: 2%;
    height:fit-content;
}
.genreOption
{
    font-family: "Open Sans";
    background-color: khaki;
    display: flex;
    justify-content: center;
    font-size: medium;
    cursor: pointer;
}
.genreScroll
{
    width: 60%;
    height: 40%;
    margin-left:20%;
    margin-top:2%;
    overflow-y:auto;
    margin-bottom: 5%;

    border-style: solid;
    border-width:1px;
    border-color:#9CC7A9;
    border-radius: 5px;

    display:grid;
    grid-template-columns: 20% 20% 20% 20% 20%;

    /* border-radius: 5px;
    border-color:#9CC7A9;
    border-width:2px;
    border-style: solid; */

}